/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

/* ======================= Timer ========================== */
input {
   height: 40px;
  width: 272px;
  margin: 30px 0px;
}
button {
  height: 40px;
  width: 75px;
  background-color: #CFCFCF;
  border: none;
  border-radius: 8px; 
}

.timer {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  height: 72px;
  width: 344px;
}

.field {
  display: flex;
  flex-direction: column;
}

.value {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
}

.label {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}