/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

/* ======================= Timer ========================== */
#datetime-picker {
   height: 40px;
  width: 272px;
  margin: 30px 0px;
  border-color: #808080;
}

#datetime-picker:hover {
  border-color: #000000;
}

#datetime-picker[disabled] {
  border-color: #808080;

}

button[data-start] {
  height: 40px;
  width: 75px;
  background-color: #4E75FF;
  border: none;
  border-radius: 8px; 
  color: #ffffff;
}

button[disabled] {
  background-color: #CFCFCF;
  color: #989898;
}

.timer {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  height: 72px;
  width: 344px;
}

.field {
  display: flex;
  flex-direction: column;
}

.value {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  width: 68px;
  height: 72px;
}

.label {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-align: center;
}

/* ======================== Snackbar ========================= */

.form {
  width: 360px;
 
}

.label-delay {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}


fieldset {
margin-bottom: 8px;

}